<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login page</title>
    <link href="../static/loginStyle.css" th:href="@{/loginStyle.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<div class="login-page">
    <div class="form">
        <form  th:action="@{/login}" method="post" >
            <input type="text" name="username" id="username"  placeholder="login"/>
            <input type="password" name="password" id="password" placeholder="password" />
            <input type="submit" value="Login" />
            <p class="message">Not registered?  <a th:href="@{/registration}">here</a> Create an account</a></p>
            <p class="message">Forgot password?  <a th:href="@{/forgot}">here</a></a></p>
        </form>
    </div>
</div>
</body>
</html>
