
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login page</title>
    <link href="/loginStyle.css" th:href="@{/loginStyle.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<div class="login-page">
    <div class="form">
        <form  th:action="@{/reset}" method="post" >
            <label th:if="${message}" th:text="${message}" th:class="messageInfo" >
            </label>
            <input type="password" name="password" id="password" placeholder="new password" />
            <input type="hidden" name="token" id = "token" th:value="${token}">
            <input type="submit" value="set new password" />
        </form>
    </div>
</div>
</body>
</html>